<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/logs/current_logfile.txt"
            archiveFileName="${basedir}/logs/{#}.txt"
            archiveAboveSize="102400000"
            maxArchiveFiles="20"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            keepFileOpen="false"
            encoding="iso-8859-2"
			      layout="${longdate}|${level:uppercase=true}|${logger}|${threadname}|${message}|${exception:format=tostring}"
			/>
    <target xsi:type="NLogViewer" name="viewer"
            address="udp://127.0.0.1:9999"
			      layout="${longdate}|${level:uppercase=true}|${logger}|${threadname}|${message}|${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="file" />
    <logger name="*" writeTo="viewer" />
  </rules>
</nlog>