<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net471" />
  <package id="LiveCharts.Geared" version="1.2.9" targetFramework="net471" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Composition" version="15.8.117" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="15.8.117" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net471" />
  <package id="System.Composition" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net471" />
  <package id="System.Waf.Core" version="5.0.0" targetFramework="net471" />
  <package id="System.Waf.Wpf" version="5.0.0" targetFramework="net471" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net471" />
</packages>